/*Configuração para computador*/
* {
   margin: 0 auto;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

body {
   overflow-x:hidden;
}

.first {
   background: url(src/img/bg.png);
   width: 100%;
   background-size: cover;
   padding-bottom: 80px;
}

.dark {
   background-color: #f3edda;
   width: 100vw;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.inside {
   background-color: #4d322a;
   width: 90%;
   height: 450px;
   border-radius: 100px;
}


.header {
   height: 16.105vw;
   display: flex;
}


.logo {
   flex: 25%;
}

.logo img {
   padding-top: 2.196vw;
   padding-left: 0.732vw;
   width: 17.3vw;
   margin-left: 5px;
}

.menu {
   flex: 75%;
   text-align: right;
   margin-right: 35.5vw;
   margin-top:  4.758418740849195vw;
}

.op {
   color: rgba(253,252,252,255);
   text-decoration: none;
   padding: 1.0980966325036603vw;
   font-size: 1.4vw;
   font-family: 'Berkshire Swash', cursive;
   position: relative;
}

.op:after {
   content: '';
   position: absolute;
   width: 0%;
   height: 2px;
   background: rgba(253,252,252,255);
   bottom: 0.5856515373352855vw;
   left: 0;
   align-items: center;
   transition: 0.3s;
}

.op:hover::after {
   width: 100%;
}

.mid {
   display: flex;
   width: 100%;
   justify-content: center;
   top: 33.5%;
   margin: 0 auto;
}

.slogan {
    width: 40.26354319180088vw;
    margin-left: 5.124450951683748vw;
    margin-top: -2.1961932650073206vw;
}

.slogan h1 {
    color: rgba(253,252,252,255);
    font-size: 5.856515373352855vw;
}

.breakfast {
  padding-right: 13.90922401171303vw;
  margin-top: -5.856515373352855vw;
}

.breakfast img{
   height: 32.94289897510981vw;
   float: right;
}

.social {
   background-color: #4d322a;
   height: 21.961932650073205vw;
   width: 6vw;
   border-bottom-left-radius: 0.29282576866764276vw;
   border-top-left-radius: 0.29282576866764276vw;
   text-align: center;
   align-items: center;
   justify-content: center;
   float: right;
   display: block;
   position: absolute;
   right: 0vw;
   
}

.social a img {
   width: 2.9282576866764276vw;
   text-align: center;
   padding-top: 2.049780380673499vw;
}

.search-button img {
   width: 2.9282576866764276vw;
   height: 2.9282576866764276vw;
}

.search-box {
   position: absolute; /*Posso colocar o obj. onde quiser*/
   right:  0.5856515373352855vw;
   margin-top: 2.562225475841874vw;
   background-color: #4d322a;
   height: 4.392386530014641vw;
   padding: 0.7320644216691069vw;
   border-radius: 2.9282576866764276vw;
   display: flex;
   justify-content: space-between; /*Joga um totalmente pra esquerda e outro totalmente pra direita*/
   align-items: center;
}

.search-txt {
   border: none;
   background: none;
   outline: none; /*Borda quando clica*/
   padding: 0;
   font-size: 1.4vw;
   color: rgba(253,252,252,255);
   line-height: 2.9282576866764276vw; /*tamanho da linha*/
   width: 0px;
   transition: 0.5s;
   font-family: 'Berkshire Swash', cursive;
}

.search-button {
   width: 4.392386530014641vw;
   height: 4.392386530014641vw;
   border-radius: 50%;
   background: #4d322a;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-box:hover > .search-txt {
   width: 17.569546120058565vw;
   padding: 0 0.43923865300146414vw;
}

::-webkit-input-placeholder {
   color: rgba(253,252,252,255);
   font-family: 'Berkshire Swash', cursive;
}

/*Configuração para tablet*/

@media only screen and (max-width:900px){

  .search-txt, .op {
     font-size: 1.78vw;
  }

  .menu {
     margin-right: 32.5vw;
  }

  .op {
     padding: 4.5px;
  }

  .op:after {
     bottom: 2px;
  }

  .search-box {
     margin-top: 25px;
  }

}

/*Configuração para celular*/

@media only screen and (max-width:600px) {
   body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      background: #f2ecd6
   }
   
   .header {
      flex-direction: row;
      display: flex;
      height: 130px;
      padding-top: 15px;
      width: 100%;
      background-color: #4d322a;
   }

   .checkbtn {
      display: block;
      flex: 0%;
      margin-top: 6vw;
   }

   .fas.fa-bars {
      float: left;
      margin-left: 20px;
   }

   .logo {
      flex: 75%;
   }
   
   .logo img {
      width: 180px;
      margin-left: 10px;
   }
   .search-button img {
     width: 4.392386530014641vw;
     height: 4.392386530014641vw;
  }
 
  .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto 0;
  }

  .mid {
     display: flex;
     flex-direction: column;
     background-color: #331f18ad;
     width: 100%;
     height: calc(100%-130px);
     justify-content: center;
     align-items: center;
     position: relative;
     top: 0;
  }

  .slogan {
     color: rgba(253,252,252,255);
     padding: 0;
     margin: 0;
     order: 2;
     width: 80%;
     justify-content: center;
     align-items: center;
     margin-bottom: 9px;
  }

  .slogan h1 {
     text-align: center;
     font-size: 8vw;
     padding-top: 20px;
  }

  .breakfast {
     padding-right: 0;
     margin-top: 0;
     padding-right: 0;
     order: 1;
     padding-top: 10px;
   }
  
  .breakfast img{
     height: 40vw;
   }

   .social {
     height: 41vw;
     width: 8vw;
     border-bottom-left-radius: 1vw;
     border-top-left-radius: 1vw;
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
  }
 
  .social a img {
     width: 4vw;
     padding-top: 5vw;
  }

  .search-button img {
   width: 4.392386530014641vw;
   height: 4.392386530014641vw;
}

.search-box {
   right:  0.8784773060029283vw;
   margin-top: 5vw;
   height: 6.588579795021962vw;
   padding: 1.0980966325036603vw;
   border-radius: 4.392386530014641vw;
}

.search-txt {
   padding: 0;
   font-size: 2.0999999999999996vw;
   line-height: 4.392386530014641vw; /*tamanho da linha*/
   width: 0px;
}

.search-button {
   width: 6.588579795021962vw;
   height: 6.588579795021962vw;
   border-radius: 50%;
   
}

.search-box:hover > .search-txt {
   width: 15vw;
   padding: 0 0,6588579795021963vw;
}


  .menu {
     position: fixed;
     width: 100%;
     height: 90%;
     background: rgb(222, 184, 135);
     top: 30vw;
     left: -100%;
     text-align: center;
     transition: all .5s;
     z-index:1;
  }

  .op {
     display: block;
     font-size: 20px;
     margin-top: 4.716981132075472vh;
     padding-bottom: 3.930817610062893vh;
     justify-content: center;
  }

  #check:checked ~ .menu {
     left: 0;
  }

  .op:after {
     height: 0px;
  }

  .op:hover {
     background-color: rgb(201, 161, 110);
  }
}

@media only screen and (max-width:490px) {
   .slogan h1 {
      font-size: 10vw;
   }

   .breakfast img{
      height: 50vw;
    }
}