/*Configuração para computador*/
* {
    margin: 0 auto;
 }
 
 /*Scrollbar*/
 
 ::-webkit-scrollbar {
    width: 15px;
 
 }
 
 ::-webkit-scrollbar-track {
    background-color: #eae4d2;
 }
 
 ::-webkit-scrollbar-thumb {
    background: #4d322a;
    border-radius: 14px;
    border: 2px solid #eae4d2;
 }
 
 /*Menu escondido para ativar no celular*/
 .checkbtn {
   font-size: 30px;
   color: white;
   cursor: pointer;
   display: none;
 }
 #check {
   display: none;
 }
 
 body {
    overflow-x:hidden;
    background-color: #f3edda;
 }
 
 /*header*/
 .header {
    height: 11vw;
    display: flex;
    position: fixed;
    background-color: #4d322a;
    width: 100%;
    z-index: 100;
 }
 
 .logo {
   margin: 0;
}
 
 .logo img {
    padding-top: 2.196vw;
    padding-left: 0.732vw;
    width: 16.3vw;
    margin-left: 5px;
 }
 
 .menu {
   margin-left: 20px;
   text-align: right;
   margin-right: auto;
   margin-top:  4.758418740849195vw;
}
 
 .op, .op6 {
    color: rgba(253,252,252,255);
    text-decoration: none;
    padding: 1.0980966325036603vw;
    font-size: 1.4vw;
    font-family: 'Berkshire Swash', cursive;
    position: relative;
 }
 
 .op:after, .op6:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgba(253,252,252,255);
    bottom: 0.5856515373352855vw;
    left: 0;
    align-items: center;
    transition: 0.3s;
 }
 
 .op6:after {
    width: 100%;
 }
 
 .op:hover::after {
    width: 100%;
 }
 
 .search-button img {
    width: 2.9282576866764276vw;
    height: 2.9282576866764276vw;
 }
 
 .search-box {
    position: relative; 
    right:  0vw;
    margin-top: 2.562225475841874vw;
    background-color: #00000017;
    height: 4.392386530014641vw;
    padding: 0.7320644216691069vw;
    border-radius: 2.9282576866764276vw;
    display: flex;
    justify-content: space-between; /*Joga um totalmente pra esquerda e outro totalmente pra direita*/
    align-items: center;
 }
 
 .search-txt {
    border: none;
    background: none;
    outline: none; /*Borda quando clica*/
    padding: 0px;
    font-size: 1.4vw;
    color: rgba(253,252,252,255);
    line-height: 2.9282576866764276vw; /*tamanho da linha*/
    width: 0px;
    transition: 0.5s;
    font-family: 'Berkshire Swash', cursive;
 }
 
 .search-button {
    width: 4.392386530014641vw;
    height: 4.392386530014641vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .search-box:hover > .search-txt {
    width: 17.569546120058565vw;
    padding: 0 0.43923865300146414vw;
 }
 
 ::-webkit-input-placeholder {
    color: rgba(253,252,252,255);
    font-family: 'Berkshire Swash', cursive;
 }

 /*Sugestões da Barra de pesquisa*/

.search-suges {
   display: none;
   flex-direction: column;
   position: absolute;
   padding: 5px;
   right: 12px;
   left: calc(74% - -4px);
   z-index: 20;
   border-radius: 8px;
   background-color: #c9ac91;
   margin-top: 10px;
}

.search-item {
   display: flex;
   margin: 0;
}

.search-item:hover {
   background-color: #c0a186;
}

.search-item img, .search-container p, .search-container a {
   margin: 0;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: 17px;
   color: white;
}

.search-item p {
   margin-left: 1.5vw;
}

.search-item div.info {
   display: flex;
   flex-direction: column;
   display: flex;
   justify-content: center;
   border-bottom: solid 2px #b39981;
   width: 100%;
}

.search-container {
   margin-left: 0px;
   margin-right: 8px;
}

 /*Container (conteúdo)*/

 .title {
    padding-top: 11vw;
    text-align: center;
 }

 h5 {
    margin-top: 30px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 7vw;
    color: #24130d;
 }

 .title p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #24130d;    
 }

 .container {
     display: flex;
     flex-direction: row;
     height: max-content;
     width: 70%;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
 }

 /*Formulário*/

 .box {
     margin-top: 50px;
     width: 100%;
     height: max-content;
     display: flex;
     flex-direction: row;
     border: 4px solid #4d1f11ea;
     border-radius: 15px;
 }

 .formulario {
     display: flex;
     flex-direction: column;
     background-color: #4d1f11ea;
     border-radius: 10px;
     padding-top: 20px;
     padding-bottom: 20px;
     height: max-content;
     flex: 1;
     border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
 }

 form {
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 20px;
 }

 h1 {
    text-align: left;
    color: #f3edda;
    font-family: 'Berkshire Swash', cursive;
    font-size: 3vw;
    margin-left: 20px;
    margin-right: 20px;
    transition: 500ms;
 }

 form input, #mensagem {
    margin-bottom: 10px;
    width: 98.2%;
    color: #f3edda;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: 200ms;
    resize: none;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f3eddac6;
    transition: 500ms;
    margin-bottom: 20px;
 }

 .btn {
     width: 30%;
     height: 35px;
     margin-bottom: 0px;
     border-radius: 20px;
     border: 2px solid #f3eddac6;
     cursor: pointer;
 }

 .btn:hover {
    transform: scale(1.09);
    border-color: #f3edda;
    background-color: rgb(48, 13, 7);
 }

 .formulario label {
     position: absolute;
     margin-bottom: 20px;
     pointer-events: none;
     color: #f3eddac6;
 }

 #mensagem {
     width: 98.5%;
 }

 .contato {
     flex: 0.15;
     display: flex;
     flex-direction: column;
     transition: 500ms;
     margin-bottom: 10px;
     margin-top: 10px;
     position: relative;
 }

 .contato:hover {
     flex: 0.9;
 }

 .contato:hover  .opc1, .contato:hover .opc2, .contato:hover .opc3, .contato:hover .opc4 {
    padding-right: 23vw;
 }

 .opc1, .opc2, .opc3, .opc4 {
     background-color: #4d1f11ea;
     margin-bottom: auto;
     height: 60px;
     width: 60px;
     border-radius: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: 500ms;
     position: relative;
 }

 .txt1, .txt2, .txt3, .txt4{
   color: transparent;
   left: 0;
   position: absolute;
   transform: translateY(-50%);
   top: 50%;
   transition: 300ms;
   margin-left: 60px;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   white-space: nowrap; /*não deixa texto quebrar*/
}

.contato:hover .txt1, .contato:hover .txt2, .contato:hover .txt3, .contato:hover .txt4{
    color: #f3edda;
}

 .opc1 {
    margin-top: auto;
 }


 .contato .fa-phone-alt, .contato .fa-whatsapp, .contato .fa-envelope, .contato .fa-map-marker-alt {
     font-size: 30px;
     color: #f3edda;
     text-align: center;
 }

 /*footer*/

footer {
    margin: 0;
    padding: 50px 100px;
    padding-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #24130d;
 }
 
 .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    width: 100%;
 }
 
 .sn_footer {
    margin-right: 30px;
    margin-left: 0;
    position: relative;
    flex: 1;
 }
 
 .redes {
    padding-left: 0;
 }
 
 h4 {
    position: relative;
    margin-bottom: 15px;
    color: #f3edda;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 20px;
 }
 
 footer p {
    color: #f3eddacb;
    text-align: left;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    
 }
 
 .redes {
    display: flex;
    margin-top: 20px;
    float: left;
 }
 
 .redes li {
    list-style: none;
    padding: 0;
 }
 
 .redes li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #502a1d;
    border-radius: 20px;
    text-decoration: none;
    transition: 500ms;
 }
 
 .redes li a:hover, footer .btn:hover {
    cursor: pointer;
    transform: scale(1.09);
    background-color: #5c3122;
 }
 
 .fa-facebook, .fa-instagram, .fa-whatsapp {
    color: #f3edda;
 }
 
 
 .links_rapidos_footer {
    position: relative;
    margin-right: 30px;
    flex: 1;
    padding-left: 10%;
 }
 
 .links_rapidos_footer ul, .contatos_footer ul {
    padding: 0;
 }
 
 .links_rapidos_footer ul li, .contatos_footer ul li {
    list-style: none;
 }
 
 .links_rapidos_footer ul li a, .contatos_footer ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: #f3eddacb;
    justify-content: left;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
 }
 
 .links_rapidos_footer a {
    transition: 200ms;
 }
 
 .links_rapidos_footer a:hover {
    transform: translateX(8px);
 }
 
 .contatos_footer {
    position: relative;
    flex: 1;
 }
 
 .contatos_footer li {
    margin-bottom: 10px;
    transition: 200ms;
 }
 
 .contatos_footer li:hover {
    transform: translateX(8px);
    color: #f0ede2;
 }
 
 .contatos_footer i {
    margin-right: 10px;
    width: 15px;
 }
 
 footer .btn {
    background-color: #502a1d;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 150px;
    color: #f3edda;
    transition: 500ms;
 }
 
 .copyright {
   background-color: #24130d;
   border-top: 1px #443232 solid;
   padding: 8px 0px;
   text-align: center;
   color: #f3eddacb;
   width: 100%;
 }
 
 .copyright p {
    padding: 0;
 }

 @media only screen and (max-width:900px) {

   .search-item img, .search-container p, .search-container a {
      font-size: 12px;
   }

   h5 {
      font-size: 8vw;
   }

   .container {
      width: 90%;
   }
   
   .box {
      flex-direction: column;
      width: 100%;
      border: none;
    }

   .formulario {
      width: 100%;
   }

   h1 {
      font-size: 5vw;
   }

   .contato {
      display: none;
   }   

   .search-txt, .op, .op6 {
      font-size: 1.6vw;
   }
 
   .menu {
      margin-left: 12px;
   }
 
   .op, .op6 {
      padding: 4.5px;
   }
 
   .op:after, .op6:after {
      bottom: 2px;
   }
 
   .search-box {
      margin-top: 25px;
   }

   footer {
      padding: 40px;
   }

   .container_footer {
      flex-direction: column;
   }

   .container_footer, .sn_footer, .links_rapidos_footer, .contatos_footer {
      width: 100%;
   }

   .contatos_footer {
      margin-top: 20px;
   }

   .contatos_footer {
      margin-left: 0;
   }

   .links_rapidos_footer {
      padding-left: 0;
      margin-top: 30px;
   }
 }

 @media only screen and (max-width:650px) {
   
   h5 {
      font-size: 15vw;
   }

   body {
      display: flex;
      flex-direction: column;
      background-color: #f3edda;
   }

   .title {
      margin-top: 17%;
   }
   
   .header {
      flex-direction: row;
      display: flex;
      height: max-content;
      padding-top: 2.2vw;
      width: 100%;
      background-color: #4d322a;
      position: fixed;
      z-index: 10;
   }

   .checkbtn {
      display: block;
      flex: 25%;
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .fas.fa-bars {
      float: left;
      margin-left: 4vw;
      font-size: 5.5vw;
   }

   .search-container{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
   }

   .logo {
      flex: 66.66%;
   }
   
   .logo img {
      width: 40vw;
      padding-bottom: 2.5vw;
   }

   .search-button img {
      width: 4.392386530014641vw;
      height: 4.392386530014641vw;
   }
   
   .search-box {
      right: -8vw;
      margin: 0;
      height: 6.588579795021962vw;
      padding: 1.0980966325036603vw;;
      border-radius: 4.392386530014641vw;
   }
   
   .search-txt {
      padding: 0;
      font-size: 2.0999999999999996vw;
      line-height: 4.392386530014641vw; /*tamanho da linha*/
      width: 0px;
   }
   
   .search-button {
      width: 6.588579795021962vw;
      height: 6.588579795021962vw;
      border-radius: 50%;
      
   }
   
   .search-box:hover > .search-txt {
      width: 0;
      padding: 0;
   }
   
   .search-container {
      display: none;
   }
   
   .menu {
      position: fixed;
      width: 100%;
      height: calc(100vh - 25vw);
      background: rgb(222, 184, 135);
      left: -100%;
      margin: 0;
      text-align: center;
      transition: all .5s;
      z-index:1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
   }
   
     .op, .op6 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        flex: 1;
        width: 100%;
     }
   
     .op6 {
        background-color: rgb(201, 161, 110);
     }
   
     #check:checked ~ .menu {
        left: 0;
     }
   
     .op:after, .op6:after {
        height: 0px;
     }
   
     .op:hover, .op6:hover {
        background-color: rgb(201, 161, 110);
     }
 }

 