/*Configuração para computador*/
* {
   margin: 0 auto;
}
/*Menu escondido para ativar no celular*/
.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

body {
   overflow-x:hidden;
   background-color: #f3edda;
}

/*Fundo incial contiso no header e no contéudo do container*/
.first {
   background: url(src/img/bg.png); 
   width: 100%;
   background-size: cover;
   padding-bottom: 80px;
}

/*header*/
.header {
   height: 16.105vw;
   display: flex;
}

.logo {
   flex: 25%;
}

.logo img {
   padding-top: 2.196vw;
   padding-left: 0.732vw;
   width: 17.3vw;
   margin-left: 5px;
}

.menu {
   flex: 75%;
   text-align: right;
   margin-right: 33vw;
   margin-top:  4.758418740849195vw;
}

.op {
   color: rgba(253,252,252,255);
   text-decoration: none;
   padding: 1.0980966325036603vw;
   font-size: 1.4vw;
   font-family: 'Berkshire Swash', cursive;
   position: relative;
}

.op:after {
   content: '';
   position: absolute;
   width: 0%;
   height: 2px;
   background: rgba(253,252,252,255);
   bottom: 0.5856515373352855vw;
   left: 0;
   align-items: center;
   transition: 0.3s;
}

.op:hover::after {
   width: 100%;
}

.search-button img {
   width: 2.9282576866764276vw;
   height: 2.9282576866764276vw;
}

.search-box {
   position: absolute; /*Posso colocar o obj. onde quiser*/
   right:  0.5856515373352855vw;
   margin-top: 2.562225475841874vw;
   background-color: #4d322a;
   height: 4.392386530014641vw;
   padding: 0.7320644216691069vw;
   border-radius: 2.9282576866764276vw;
   display: flex;
   justify-content: space-between; /*Joga um totalmente pra esquerda e outro totalmente pra direita*/
   align-items: center;
}

.search-txt {
   border: none;
   background: none;
   outline: none; /*Borda quando clica*/
   padding: 0;
   font-size: 1.4vw;
   color: rgba(253,252,252,255);
   line-height: 2.9282576866764276vw; /*tamanho da linha*/
   width: 0px;
   transition: 0.5s;
   font-family: 'Berkshire Swash', cursive;
}

.search-button {
   width: 4.392386530014641vw;
   height: 4.392386530014641vw;
   border-radius: 50%;
   background: #4d322a;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-box:hover > .search-txt {
   width: 17.569546120058565vw;
   padding: 0 0.43923865300146414vw;
}

::-webkit-input-placeholder {
   color: rgba(253,252,252,255);
   font-family: 'Berkshire Swash', cursive;
}

/*parte inicial após header*/
.mid {
   display: flex;
   width: 100%;
   justify-content: center;
   top: 33.5%;
   margin: 0 auto;
}

.slogan {
    width: 40.26354319180088vw;
    margin-left: 5.124450951683748vw;
    margin-top: -2.1961932650073206vw;
}

.slogan h1 {
    color: rgba(253,252,252,255);
    font-size: 5.856515373352855vw;
}

.breakfast {
  padding-right: 13.90922401171303vw;
  margin-top: -5.856515373352855vw;
}

.breakfast img{
   height: 32.94289897510981vw;
   float: right;
}

.social {
   background-color: #4d322a;
   height: 21.961932650073205vw;
   width: 6vw;
   border-bottom-left-radius: 0.29282576866764276vw;
   border-top-left-radius: 0.29282576866764276vw;
   text-align: center;
   align-items: center;
   justify-content: center;
   float: right;
   display: block;
   position: absolute;
   right: 0vw;
   
}

.social a img {
   width: 2.9282576866764276vw;
   text-align: center;
   padding-top: 2.049780380673499vw;
}

/*Parte pós apresentação inicial que falará um pouco do sobre nós*/

.conteudo {
   display: flex;
   height: max-content;
   flex-direction: column;
}

.peq_sobre {
   display: flex;
   padding: 80px 5vw 80px 5vw;
   width: 90%;
   height: 22vw;
   height: max-content;
   align-items: center;
}

.esq_peq_sobre{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   height: max-content;
}

.esq_peq_sobre img {
   width: 20;
}

h2 {
   text-align: center;
   padding-top: 10px;
   color: #643424;
   font-family: 'Berkshire Swash', cursive;
   font-size: 20px;
}

.dir_peq_sobre {
   margin-left: 50px;
   height: max-content;
}

.peq_sobre p {
   font-size: 20px;
   line-height: 25px;
   color: #9a8174;
   font-family: 'Roboto', sans-serif;
}

.btn {
   background-color: #643424;
   border: 0;
   border-radius: 5px;
   font-size: 15px;
   margin-top: 15px;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   display: inline-block;
   width: 150px;
   color: #f3edda;
   transition: 500ms;
}

.btn:hover {
   cursor: pointer;
   transform: scale(1.09);
}

/*topicos com atalhos e novidades*/

.topicos {
   height: max-content;
   display: flex;
   flex-direction: row;
   width: 100%;
}

.esq_topicos {
   flex: 75%;
   display: flex;
   flex-direction: column;
}

.topico1, .topico3{
   width: 86.5%;
   display: flex;
   flex-direction: row;
   padding: 40px 5vw 40px 5vw;
   height: max-content;
   align-items: center;
   background-color: #f3e2da;
}

.texto_topico1 {
   width: 50%;
   margin-right: 5%;
}

h3{
   font-family: 'Berkshire Swash', cursive;
   font-size: 40px;
   color: #643424;
}

.topicos p {
   padding-top: 10px;
   font-size: 20px;
   line-height: 25px;
   color: #9a8174;
   font-family: 'Roboto', sans-serif;
}

.imagem_topico, .imagem_topico3{
   flex: 50%;
   box-sizing: border-box;
   height: 20vw;
   max-width: 100%;
}

.imagem_topico img, .imagem_topico3 img {
   width: 100%;
   height: 100%;
}

.topico2 {
   background-color: #e9d7cf;
   width: 86.5%;
   display: flex;
   flex-direction: row;
   padding: 40px 5vw 40px 5vw;
   height: max-content;
   align-items: center;
}

.texto_topico2 {
   flex: 50%;
   margin-left: 5%;
}

.dir_topicos {
   background-color: #f3edda;
   flex:25%;
   flex-direction: column;
   display: flex;
   width: 100%;
}

.novidades, .novidades2 {
   width: 95%;
   border-top: 5px #462418 solid;
   padding-top: 7px;
   justify-content: center;
   align-content: center;
   display: flex;
}

.novidades2 {
   border-bottom: 5px #462418 solid;
   border-top: none;
}

.itens_novidade {
   width: 95%;
   height: 93%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

.item_novidade1, .item_novidade2, .item_novidade3, .item_novidade4, .item_novidade5 {
   width: 20vw;
   background-color: cornflowerblue;
   height: 10vw;
   margin-bottom: 40px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

.item_novidade5 {
   margin-bottom: 0px;
}

.item_novidade1 img, .item_novidade2 img, .item_novidade3 img, .item_novidade4 img, .item_novidade5 img {
   width: 100%;
   height: 100%;
}

.itens_novidade img {
   transition: 500ms;
   border-radius: 5px;
}

.itens_novidade img:hover {
   filter: blur(1.2px) brightness(.5);
   transform: scale(1.05);
   cursor: pointer;
}

.item_novidade1:hover .texto_item1 {
   opacity: 1;
}

.item_novidade2:hover .texto_item2 {
   opacity: 1;
}

.item_novidade3:hover .texto_item3 {
   opacity: 1;
}

.item_novidade4:hover .texto_item4 {
   opacity: 1;
}

.item_novidade5:hover .texto_item5 {
   opacity: 1;
}

.itens_novidade a {
   text-decoration: none;
}

.texto_item1, .texto_item2, .texto_item5, .texto_item3, .texto_item4 {
   position: absolute;
   font-size: 20px;
   color: #f3edda;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   opacity: 0;
   transition: 500ms;
   pointer-events: none; /*desativa propriedade de ser manipulável com o mouse ou toque*/
}

/*Configuração para tablets maiores*/

@media only screen and (max-width:900px){

  .search-txt, .op {
     font-size: 1.6vw;
  }

  .menu {
     margin-right: 32.5vw;
  }

  .op {
     padding: 4.5px;
  }

  .op:after {
     bottom: 2px;
  }

  .search-box {
     margin-top: 25px;
  }

  .conteudo, .peq_sobre {
     flex-direction: column;
     justify-content: center;
     justify-content: center;
     text-align: center;
  }

  .dir_peq_sobre {
   margin: 0;
   padding-top: 20px;
   height: max-content;
  }

  .esq_peq_sobre img {
   width: 100%;
  }

  .topicos, .topico1, .topico2, .topico3 {
     flex-direction: column;
  }

  .topico1, .topico2, .topico3 {
     justify-content: center;
     align-items: center;
     width: 90vw;
  }

  .texto_topico1, .texto_topico2 {
     margin: 0;
     width: 80vw;
  }

  .texto_topico1 {
     order: 2;
  }

  .imagem_topico{
     flex: 50%;
     box-sizing: border-box;
     height: 1vw;
     max-width: 100%;
   }

   .imagem_topico img {
      width: 60vw;
      height: 40vw;
   }

   .imagem_topico3 img {
      width: 60vw;
      height: 38vw;
   }

   .item_novidade1, .item_novidade2, .item_novidade3, .item_novidade4, .item_novidade5{
      width: 60vw;
      height: 30vw;
   }

   .item_novidade1 {
      margin-top: 40px;
   }

   .item_novidade5{
      margin-bottom: 40px;
   }

   h3{
      font-family: 'Berkshire Swash', cursive;
      font-size: 7vw;
      color: #643424;
   }
}

/*Configuração para celular e tablets menores*/

@media only screen and (max-width:650px) {
   .topico2 h3 {
      padding-top: 2vw;
   }

   body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #f3edda;
   }
   
   .header {
      flex-direction: row;
      display: flex;
      height: max-content;
      padding-top: 15px;
      width: 100%;
      background-color: #4d322a;
      position: fixed;
      z-index: 10;
   }

   .checkbtn {
      display: block;
      flex: 0%;
      margin-top: 6vw;
   }

   .fas.fa-bars {
      float: left;
      margin-left: 20px;
   }

   .logo {
      flex: 43%;
   }
   
   .logo img {
      width: 40vw;
      padding-bottom: 20px;
   }
 
  .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto 0;
     padding-top: 30vw;
     background-color: #f3edda;
  }

  .mid {
     display: flex;
     flex-direction: column;
     background-color: #331f18ad;
     width: 100%;
     justify-content: center;
     align-items: center;
     position: relative;
     margin-top: -5vw;
     padding-top: 20px;
  }

  .slogan {
     color: rgba(253,252,252,255);
     padding: 0;
     margin: 0;
     order: 2;
     width: 80%;
     justify-content: center;
     align-items: center;
     margin-bottom: 9px;
  }

  .slogan h1 {
     text-align: center;
     font-size: 8vw;
     padding-top: 20px;
  }

  .breakfast {
     padding-right: 0;
     margin-top: 0;
     padding-right: 0;
     order: 1;
     padding-top: 10px;
   }
  
  .breakfast img{
     height: 40vw;
   }

   .social {
     height: 41vw;
     width: 8vw;
     border-bottom-left-radius: 1vw;
     border-top-left-radius: 1vw;
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
  }
 
  .social a img {
     width: 4vw;
     padding-top: 5vw;
  }

  .search-button img {
   width: 4.392386530014641vw;
   height: 4.392386530014641vw;
}

.search-box {
   right:  0.8784773060029283vw;
   margin-top: 5vw;
   height: 6.588579795021962vw;
   padding: 1.0980966325036603vw;
   border-radius: 4.392386530014641vw;
}

.search-txt {
   padding: 0;
   font-size: 2.0999999999999996vw;
   line-height: 4.392386530014641vw; /*tamanho da linha*/
   width: 0px;
}

.search-button {
   width: 6.588579795021962vw;
   height: 6.588579795021962vw;
   border-radius: 50%;
   
}

.search-box:hover > .search-txt {
   width: 0;
   padding: 0;
}


  .menu {
     position: fixed;
     width: 100%;
     height: 90%;
     background: rgb(222, 184, 135);
     top: 30vw;
     left: -100%;
     text-align: center;
     transition: all .5s;
     z-index:1;
  }

  .op {
     display: block;
     font-size: 20px;
     margin-top: 4.716981132075472vh;
     padding-bottom: 3.930817610062893vh;
     justify-content: center;
  }

  #check:checked ~ .menu {
     left: 0;
  }

  .op:after {
     height: 0px;
  }

  .op:hover {
     background-color: rgb(201, 161, 110);
  }
}

@media only screen and (max-width:610px) {
   .topico2 h3 {
      padding-top: 0;
   }
}

@media only screen and (max-width:490px) {
   .slogan h1 {
      font-size: 10vw;
   }

   .breakfast img{
      height: 50vw;
    }
}